<header>
    <a href="/home">
        <h1>Phase Ready</h1>
    </a>
    <nav>
        <a href="/phases">Phases</a>
        <a href="/resources">Resources</a>
        <a href="/merch">Merch</a>
        <a href="/book">Book</a>
        <a href="/videos">Videos</a>
    </nav>
    <div class="auth-buttons">
        <button>Subscribe</button>
        <button>Login</button>
    </div>
  
</header>