@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Anaheim:wght@400..800&family=Italiana&family=Lora:ital,wght@0,400..700;1,400..700&family=Radley:ital@0;1&family=Roboto+Slab:wght@100..900&family=Shippori+Mincho:wght@400;500;600;700;800&family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    font-family: "Anaheim", sans-serif;
    background-color: #262334;
    color: whitesmoke;
}


/* GLOBAL HEADER */

header {
    background-color: #262334;
    /* background-color: rgb(27, 27, 101); */
    color: whitesmoke;
    display: grid;
    grid-template-columns: auto 30%;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#logo_text {
    margin-left: 8%;
}

.auth-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.auth-btns button {
    margin: 10px 0;
    background-color: #262334;
    border-radius: 50%;
    padding: 5px;
    width: 90px;
    border: 2px solid white;
    color: white;
    box-shadow: black 1px 3px 6px 0px;

    &:hover {
        background-color: white;
        color: #262334;
        border: 3px solid #bb4032;
        cursor: pointer;

    }


}

/* HOME PAGE */

.intro-msg {
    text-align: center;
    background-color: #000000;
    color: rgb(226, 226, 250);
    padding: 20px;
}

#logo  {
    display: block;
    margin: 20px auto;
}

.home_videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.home_videos div {
    text-align: center;
}

.home_videos div iframe {
    background-color: #ea412a;
    border: 2px solid #77131a;
    cursor: pointer;
}

.home_takeMeTo_btns {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
    margin: 50px;
}

.home_takeMeTo_btns button {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #b02f1e;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid #bb4032;
    box-shadow: #bb40328b 1px 1px 1px 1px;
    
    &:hover {
        background-color: #bb4032;
        border: 2px solid #b02f1e;
    }
}

.home_takeMeTo_btns .takeMeTo_phases {
    padding: 15px;
    font-size: 1em;
}

/* Footer */
footer {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    border-top: #000000a4 1px solid;

    nav a {
        text-decoration: none;
    }

    nav a img {
    width: 30px;
    margin: 10px;
    border-radius: 12px;
}
}

/* Responsive Design */
@media screen and (max-width:900px) {
    header {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .auth-btns {
        flex-direction: column;
    }
    .auth-btns button {
        margin: 5px;
    }
    header nav {
        flex-direction: column;
    }
    #logo_text {
        margin: 0;
    }
    .home_videos {
        flex-direction: column;
    }
}