
    <%- include('partials/header') %>
        <div class="intro-msg">
            <h2>PHASE READY is where chaos meets a plan.</h2>
            <p>We'll take you from "I'm lost" to full-on Jedi, with pracical skills, honest advice, and a roadmap that works.</p>
        </div>
        <img id="logo" src="/images/Phase_Ready_logo400px.png" alt="Phase Ready logo">
        <div class="home_videos">
            <div class="v_spotlight">
                <p>Video Spotlight</p>
                <iframe src="" frameborder="0"></iframe>
            </div>
            <div class="recent_podcast">
                <p>Most Recent Podcast</p>
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="home_takeMeTo_btns">
            <button class="takeMeTo_phases">TAKE ME TO THE PHASES</button>
            <button class="home_btns">MERCH</button>
            <button class="home_btns">MENU</button>
            <button class="home_btns">PRODUCTS</button>
            <button class="home_btns">PODCASTS</button>
        </div>
        <div class="global_crisis_watch"></div>
    <%- include('partials/footer') %>
