    </main>
    <footer>
        <p>Phase Ready &copy; <%= currentYear %></p>
        <nav>
            <a href="facebook.com" target="_blank">
                <img src="/images/facebook.png" alt="facebook">
            </a>
            <a href="twitter.com" target="_blank">
                <img src="/images/twitter.png" alt="twitter">
            </a>        
            <a href="instagram.com" target="_blank">
                <img src="/images/instagram.png" alt="instagram">
            </a>
        </nav>
    </footer>
    <script type="module" src="/js/dropdown.js"></script>
    <script type="module" src="/js/roleDropdown.mjs"></script>

</body>
</html>